body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f8f9fa;
    color: #333;
    margin: 0;
    padding: 0;
}
:root {
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    --fc-small-font-size: .85em;
    --fc-page-bg-color: #ffff;
    --fc-neutral-bg-color: rgba(208, 208, 208, 0.3);
    --fc-neutral-text-color: #808080;
    --fc-border-color: #ddd;
  
    --fc-button-text-color: #fff;
    /* --fc-button-bg-color: #2C3E50; */
    --fc-button-bg-color: #007bff;
    --fc-button-border-color: #007bff;
    --fc-button-hover-bg-color: #0056b3;
    --fc-button-hover-border-color: #0056b3;
    --fc-button-active-bg-color: #004085;
    --fc-button-active-border-color: #004085;
  
    --fc-event-bg-color: #ff9696;
    --fc-event-border-color: #ff9696;
    --fc-event-text-color: #fff;
    --fc-event-selected-overlay-color: rgba(0, 0, 0, 0.25);
  
    --fc-more-link-bg-color: #d0d0d0;
    --fc-more-link-text-color: inherit;
  
    --fc-event-resizer-thickness: 8px;
    --fc-event-resizer-dot-total-width: 8px;
    --fc-event-resizer-dot-border-width: 1px;
  
    --fc-non-business-color: rgba(215, 215, 215, 0.3);
    --fc-bg-event-color: rgb(143, 223, 130);
    --fc-bg-event-opacity: 0.3;
    --fc-highlight-color: rgba(188, 232, 241, 0.3);
    --fc-today-bg-color: rgba(255, 220, 40, 0.15);
    --fc-now-indicator-color: red;
  }