<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='add_task.css') }}">
    <script src="https://kit.fontawesome.com/0e71ef810d.js" crossorigin="anonymous"></script>
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.11/index.global.min.js'></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
</head>

<body>
    <div id="mySidenav" class="sidenav">
        <a href="/dashboard">Home</a>
        <a href="/monthly_calendar">Calendar</a>
        <a href="/add_task">Add Task</a>
        <a href="/add_activity">Add Activity</a>
        <a href="#">Settings</a>
        <a href="/logout">Logout</a>
    </div>
     <div class="parallax">
        <div class="title">
            <h1>task manager</h1>
        </div>
        <div class="parent">
            <div class="container">
                <div class="header">
                    <h1>Add Activity</h1>
                </div>
                <form id="myForm" action="javascript:;" onsubmit=" showPopup() ">
                    <label for="activity_name">Activity Name</label>
                    <input type="text" id="activity_name" name="activity_name" placeholder="Activity Name" required="">
                  
                    <label for="details">Activity Details</label>
                    <input type="text" id="details" name="details" placeholder="Details of Activity">

                    <label for="start_time">Start Time</label>
                    <input type="datetime-local" id="start_time" name="start_time">

                    <label for="end_time">End Time</label>
                    <input type="datetime-local" id="end_time" name="end_time">

                    <label for="start_time">Color</label>
                    <input type="color" id="color" name="color" value="rgb(15,0,85)">
                  
                    <input type="submit" value="Submit">
                </form>
            </div>
        </div>
        <div class="message">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                <script>
                    var messages = {{ messages | safe }};
                    for (var i=0; i < messages.length; i++) {
                        alert(messages[i]);
                    }
                </script>
                {% endif %}
          {% endwith %}
        </div>
    </div>
    <script>
        function showPopup() {
            const form = document.querySelector("#myForm");
            const formData = new FormData(form);
            fetch('/add_activity', {
                method: 'POST',
                body: formData
            }).then(response => {
                if (response.status == 200){
                    Swal.fire("Success", "", "success"); 
                }
                else {
                    Swal.fire("Something went wrong", "", "error");
                }
            })
            .then(data => {
                console.log(data)
            });
        }
    </script>
</body>
</html>
