<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='dashboard.css') }}">
    <script src="https://kit.fontawesome.com/0e71ef810d.js" crossorigin="anonymous"></script>
</head>

<body>
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="/dashboard">Home</a>
        <a href="/monthly_calendar">Calendar</a>
        <a href="/monthly_calendar">Assignments</a>
        <a href="#">Settings</a>
        <a href="/">Logout</a>
    </div>
    <!-- Use any element to open the sidenav -->
    <span class="fa fa-bars" id="menuBars" onclick="openNav()"></span>
    
    <!-- Add all page content inside this div if you want the side nav to push page content to the right (not used if you only want the sidenav to sit on top of the page -->
    <div class="parallax">
        <div class="container">
            <div class="header">
                <h1>Your agenda</h1>
            </div>
            <div class="task-list">
                {% for task in tasks %}
                <!-- THIS IS WHERE I WANT IT-->
                <script>
                    var div = document.createElement('div'), // Create a new div
                    script = document.scripts[document.scripts.length - 1]; // A reference to the currently running script
                    div.className = "date";
                    var date = new Date("{{ task.start_time }}");
                    div.innerHTML = new Intl.DateTimeFormat('en-US', {day: 'numeric', month: 'long'}).format(date) + ":";
                    script.parentElement.insertBefore(div, script); // Add the newly-created div to the page
                </script>
                <div class="task">
                    <!-- <h3>{{ task.name }}</h3>
                    <p>Details of {{ task.name }}</p> -->
                        <p>
                            <p1 id="{{ task.id }} start">Hello</p1> 
                            <script>
                                var element = document.getElementById("{{ task.id }} start");
                                var date = new Date("{{ task.start_time }}");
                                // element.innerHTML = date.getHours() + ":" + date.getMinutes();
                                element.innerHTML = new Intl.DateTimeFormat('en-US', {hour: '2-digit', minute: 'numeric',}).format(date);
                            </script>
                            <span class="vl" id="{{task.activity}}"></span>
                            <span class="task-item" style="color: rgb(15,0,85); font-size: 1.3rem;">{{ task.activity }}</span>
                        </p>
                        <p>
                            <p2 id="{{ task.id }} end">Hello</p2> 
                            <script>
                                var element = document.getElementById("{{ task.id }} end");
                                var date = new Date("{{ task.end_time }}");
                                //element.innerHTML = date.getHours() + ":" + date.getMinutes();
                                element.innerHTML = new Intl.DateTimeFormat('en-US', {hour: 'numeric', minute: 'numeric',}).format(date);
                            </script>
                            <span class="priority" style="font-size: 1rem;">{{ task.name }}</span>
                        </p>
                </div>
                {% endfor %}
                <!-- var name = line.id;
                var selector = "[id=" + name + ']';
                id_elements = document.querySelectorAll(selector);
                if (name == "Databases"){
                    for (id in id_elements) {
                        id.style.borderLeftColor = "red";
                    }
                } -->
            </div>
        </div>
    </div>
    <script>
        setColor();
        /* Set the width of the side navigation to 250px and the left margin of the page content to 250px */
        function openNav() {
            document.getElementById("menuBars").style.visibility = 'hidden';
            document.getElementById("mySidenav").style.width = "250px";
            document.getElementById("main").style.marginLeft = "250px";
        }

        /* Set the width of the side navigation to 0 and the left margin of the page content to 0 */
        function closeNav() {
            document.getElementById("menuBars").style.visibility = 'visible';
            document.getElementById("mySidenav").style.width = "0";
            document.getElementById("main").style.marginLeft = "0";
        }

        function setColor() {
            lines = document.getElementsByClassName("vl");
            for (let i = 0; i < lines.length; i++) {
                let name = lines[i].id;
                // console.log(name); // Output: "Hello John!
                // console.log(colors);
                const colors = '{{colors}}'.replace(/&#39;(.+?)&#39;/g, '"$1"'); 
                // console.log(newColors);
                // console.log(JSON.parse(newColors));
                let color = JSON.parse(colors)[name];
                //console.log(color);
                lines[i].style.borderLeftColor = color;
            }
        }   
    </script>
</body>
</html>
