<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='signup.css') }}">
</head>
<body>
    <header class="header">
        <script>
            function handleOnClick() {
                window.location.href = '/';
              }
            </script>
            <h1 onclick="handleOnClick()">task manager</h1>
    </header>
    <div class="container">
        <div class="form">
            <h1>Login</h1>
            <!-- Login form here -->
            <form id="loginForm">
                
                <input type="text" id="email" name="email", placeholder="email"><br>
                <input type="password" id="password" name="password", placeholder="password"><br>
                <button type="submit">Login</button>
            </form>
            <!-- <a href="/dashboard" class="btn">Login</a> -->
            
            <div class="signup-link">Don't have an account? <a href="/signup">Sign up here</a></div>
        </div>
    </div>
    <script>
        document.getElementById('loginForm').addEventListener('submit', function(event) {
            event.preventDefault();

            const email = document.getElementById('email').value;
            const password = document.getElementById('password').value;
            fetch('/login', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({  email, password })
            })
            .then(response => {
                if (response.status == 200){
                    window.location.href = '/dashboard'
                }
                else {
                    alert("Error: " + response.status + "\nUnrecognized User")
                    throw new Error(response.status)
                }
            })
            .then(data => {
                console.log(data)
            });
        });
    </script>
</body>
</html>
