<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.11/index.global.min.js'></script>
    <script type="text/javascript" src="{{ url_for('static', filename='scripts.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='calendar.css') }}">
    <script>
        var events = [];
        let activity_name = '';
    </script>
</head>
  <body>
    {% for task in tasks %}
    <script>
        console.log('{{ task.task_id }}');
        console.log('{{ task.activity_name }}');
        console.log('{{ task.task_duration }}');
        console.log('{{ task.end_time }}');
        console.log('{{ task.task_name }}');
        activity_name = '{{ task.activity_name }}';
        events.push({
            title: '{{ task.task_name }}',
            start: '{{ task.end_time }}', 
            end: '{{ task.end_time }}', 
            color: '{{ task.color }}',
        });
        console.log(events)
    </script>
    {% endfor %}
    {% for activity in activities %}
    <script>
        activity_name = '{{ activity.activity_name }}';
        events.push({
            title: activity_name,
            start: '{{ activity.start_time }}', 
            end: '{{ activity.end_time }}', 
            color:'{{ activity.color }}',
            display: 'block'
        });
        console.log(events)
    </script>
    {% endfor %}
    <script type="text/javascript">
        window.resizeTo(window.width - 1, window.height - 1);
        window.resizeTo(window.width + 1, window.height + 1);
    </script>
    <div id='calendar'></div>
  </body>
</html>