<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='signup.css') }}">
</head>
<body>
    <header class="header">
        <script>
        function handleOnClick() {
            window.location.href = 'http://127.0.0.1:5000';;
            }
        </script>
        <h1 onclick="handleOnClick()">task manager</h1>
    </header>
    <div class="container">
        <div class="form">
            <h1>Sign Up</h1>
            <!-- Signup form here -->
            <form id="signupForm">
                <input type="email" id="email" name = "email"placeholder="Email">
                <input type="password" id="password" name="password" placeholder="Password">
                <button type="submit">Sign Up</button>
            </form>
            <div class="login-link">Already have an account? <a href="/login">Login here</a></div>
        </div>
    </div>
    <script>
        document.getElementById('signupForm').addEventListener('submit', function(event) {
            event.preventDefault();

            const email = document.getElementById('email').value;
            const password = document.getElementById('password').value;
            fetch('/signup', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({  email, password })
            })
            .then(response => {
                if (response.status == 200){
                    return response.json()
                }
                alert("Error registering: " + response.statusText)
                throw new Error(response.status)
            })
            .then(data => {
                window.location.href = '/setup'
            });
        });
    </script>
</body>
</html>
